<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head') %>

  <body>
    <header>
      <h1>Dogs</h1>
    </header>

    <main>
      <section id="dog-list">
        <!-- Les chiens seront affichés ici -->
        <% locals.dogs.forEach(function(dog) { %>
        <a href="/dogs/<%= dog.id %>" class="dog-card">
          <div>
            <h2><%= dog.name %></h2>
            <!-- Ajoutez d'autres informations sur le chien ici -->
            <img src="<%= dog.imageUrl %>" alt="<%= dog.name %>" />
          </div>
        </a>
        <% }) %>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
